/* MIXINS */
@maingray: #434343;

/* CLASSES */
.panelLeft {
    height: 100%;
    padding: 15px;
    display: inline-block;
    border-right: 10px solid @maingray;
}

.panelRight {
    height: 100%;
    display: inline-block;
}

/* GENERAL ELEMENT STYLES */


/* SPECIFIC ELEMENT STYLES */