<div class="lightsParent">

    <div class="panelLeft">

        <ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>

        <ui-filter [values]="filterValues" [(value)]="value"></ui-filter>

        <ui-button>+ New Light</ui-button>

        <div id="lights">
            <div class="tableHeader">
                <div class="big text">Name</div>
                <div class="small text">Aperture Dimensions</div>
                <div class="small text">Exterior Dimensions</div>
            </div>
            <div class="data">
                <lights-list [items]="myLights | async"
                            (selected)="selectItem($event)"
                            (deleted)="deleteItem($event)"></lights-list>
            </div>
        </div>
    </div>

    <div class="panelRight">
        <div class="defaultPlaceholder">Select a light to view details</div>
    </div>

</div>

