<div class="sitesParent">

    <div class="panelLeft">
        
        <header>
            <nav class="panelLeftNavTabs">
                <li class="liFlex" [routerLink]="['all']"><a>All</a></li>
                <li class="liFlex" [routerLink]="['groups']"><a>Group</a></li>
                <li class="liFlex" [routerLink]="['favorites']"><a>Favs</a></li>
                <div class="showDetails">
                    <i class="fa fa-th fa-lg"></i>
                    <i class="fa fa-bars fa-lg"></i>
                </div>

            </nav>
        </header>

            <div class="filterSection">
                <img src="../assets/search.svg" alt="Search">
                <input type="text" placeholder="Search for site...">
            </div>


            <div class="dataSettings">
                <div class="flexCheckboxHolder">
                    <input type="checkbox"/>
                </div>

                <div class="dataButtonsHolder">
                    
                    <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-bookmark fa-stack-1x smallIcon"></i>
                    </span>

                    <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-clone fa-stack-1x smallIcon"></i>
                    </span>

                    <ui-buttonAdd></ui-buttonAdd>
                </div>
            </div>

            <main>
                <router-outlet [showDetails]="showDetails"></router-outlet>
            </main>

        

        

    </div>

    <div class="panelRight">

            <section class="recentSites">
                <span>Recent Sites:</span>
                <ul>
                    <li><a href="#">Castle Black,</a></li>
                    <li><a href="#">Flea Bottom</a></li>
                </ul>
            </section>

            <header class="mapHeader">

                <section>
                    <span class="fa-stack fa-lg bookmark bookmarkClicked">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-bookmark fa-stack-1x"></i>
                    </span>
                    <div>
                        <h2>Red Keep</h2>
                        <i class="fa fa-map-marker"></i>
                        <div class="gray">Kingsroad, Westeros</div>
                        <a href="#">View Site Analytics</a> 
                    </div>     

                    <div class="detailToggleArea">
                        <div class="toggleText">Service:</div>
                        <ui-toggle></ui-toggle>    
                    </div>               
                </section>

                

                <nav class="mapTabs">
                    <li><a>Details</a></li>
                    <li><a>Floors</a></li>
                    <li><a>Users</a></li>
                    <li><a>Health</a></li>
                </nav>
            </header>
            <div class="map"> 
                <ui-map [map-id]="'sitesMap'"></ui-map>
            </div>

  
            <div class="floors">
                <header class="detailHeader">
                    <div class="detailHeaderValue">FLOORS</div>

                    <ui-buttonAdd></ui-buttonAdd>
                </header>
                <div class="floorsData">
                    <div class="inProgress">Select a site to view the floors (in progress > routing)</div>
                </div>
            </div>
    </div>

</div>