@import '../../css/colors.less';
@import '../../css/mixins.less';

.sitesParent {
    
    display: flex;
    height: @sitesheight;

    .panelLeft {
        width: 25%;
        background-color: @snowwhite;
        flex-shrink: 1;

        ::-webkit-input-placeholder {
            padding-left: 10px;
        }

        :-moz-placeholder { /* Firefox 18- */
            padding-left: 10px;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            padding-left: 10px; 
        }

        :-ms-input-placeholder {  
            padding-left: 10px; 
        }

    }

    .panelRight {
        width: 75%;
        flex-shrink: 3;

        .rightDetails {
            background-color: @lightgray;
            height: 35px;
            line-height: 35px;
            color: @stormyblue;
            padding-left: 10px;

            ul {
                display: inline-block;
            }

            li {
                display: inline-block;
                list-style-type: none;

                a {
                    color: @brightblue;
                }
            }
        }

        .mapHeader {
            border: 1px solid @lightgray;
            height: 120px;
            position: relative;

            #mapHeaderBookmark {
                height: 40px;
            }

            .toggleArea {
                    float: right;

                    .toggleText {
                        color: @stormyblue;
                        font-weight: 700;
                        height: 34px;
                        vertical-align: middle;
                        padding-right: 0;
                    }
            }

            section {
                padding: 15px;

                div {
                    display: inline-block;
                    padding-right: 20px;
                }

                a {
                    display: inline-block;
                }
            }

            .mapTabs {

                    position: absolute;
                    top: 85px;
                    min-width: 300px;


                li {
                    font-size: .8em;
                    text-align: center;
                    display: inline-block;
                    list-style-type: none;
                    color: @stormyblue;
                    padding: 10px 20px 10px 20px;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    height: 35px;


                    a {
                        text-decoration: none;

                    }
            }

                li:hover {
                    border-bottom: 3px solid @brightblue;
                }
            }
        }

        .map {
            height: 400px;
        }

        .floors {
            background-color: @lightgray;
            height: 20px;

            .floorsHeader {
                height: 40px;
                background-color: @stormyblue;

                .floorsHeaderValue {
                    color: @white;
                    display: inline-block;
                    padding-left: 15px;
                    vertical-align: middle;
                    position: relative;
                    top: 12px;
                }
            }
        }

        .inProgress {
            text-align: center;
            padding: 20px;
        }
    }
}