<div class="sitesParent">

    <div class="panelLeft">
        
        <!--<ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>-->
        <header>
            <nav class="sitesTabs">
                <li class="liFlex" [routerLink]="['all']"><a>All</a></li>
                <li class="liFlex" [routerLink]="['groups']"><a>Group</a></li>
                <li class="liFlex"><a>Favs</a></li>
                <li class="liNoFlex"><md-icon>apps</md-icon></li>
                <li class="liNoFlex"><md-icon>menu</md-icon></li>
            </nav>

            <input type="text" placeholder="Search for site...">

            <div class="dataSettings">
                <md-icon>turned_in_not</md-icon>
                <md-icon>link</md-icon>
                <ui-buttonAdd></ui-buttonAdd>
            </div>

            <main>
                <router-outlet></router-outlet>
            </main>

        </header>

        

    </div>

    <div class="panelRight">

            <section class="rightDetails">
                <span>Recent Sites:</span>
                <ul>
                    <li><a href="#">Castle Black</a></li>
                    <li><a href="#">Flea Bottom</a></li>
                </ul>
            </section>

            <header class="mapHeader">

                <section>
                    <h2>Red Keep</h2>
                    <div>Kingsroad, Westeros</div>
                    <a href="#">View Site Analytics</a>
                </section>

                <nav class="mapTabs">
                    <li><a>Details</a></li>
                    <li><a>Floors</a></li>
                    <li><a>Users</a></li>
                    <li><a>Health</a></li>
                </nav>
            </header>
            <div class="map"> 
                <ui-map [map-id]="'sitesMap'"></ui-map>
            </div>

  
            <div class="floors">
                <header class="floorsHeader">
                    <div class="floorsHeaderValue">FLOORS</div>

                    <ui-buttonAdd></ui-buttonAdd>
                </header>
                <div class="floorsData">
                    <div class="inProgress">Select a site to view the floors (in progress > routing)</div>
                </div>
            </div>
    </div>

</div>