<div class="paddingLeft160 generalParent">

    <ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>
    
    <form>
      <md-card class="businessAddress">

        <md-card-title>Billing Address</md-card-title>

        
          <div class="form-group">
            <!--<label for="line1">Address Line 1</label>
            <input type="text" class="form-control" required>-->
            <md-input dividerColor="#FD6769" placeholder="Address Line 1" required></md-input>
          </div>

          <div class="form-group">
            <!--<label for="line2">Address Line 2</label>
            <input type="text" class="form-control">-->
            <md-input dividerColor="#FD6769" placeholder="Address Line 2" required></md-input>
          </div>

          <div class="form-group">
            <!--<label for="city">City</label>
            <input type="text" class="form-control" required>-->
            <md-input dividerColor="#FD6769" placeholder="City" required></md-input>
          </div>

          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" required>
              <option *ngFor="let s of states" [value]="s">{{s}}</option>
            </select>
          </div>

          <div class="form-group">
            <!--<label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" required>-->
            <md-input dividerColor="#FD6769" placeholder="Postal Code" required></md-input>
          </div>

          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" required>
              <option *ngFor="let c of countries" [value]="c">{{c}}</option>
            </select>
          </div>

      </md-card>

      <md-card class="contact">
        <md-card-title>Point of Contact</md-card-title>
      </md-card>

      <ui-buttonSave type="submit" (click)="generalSave($event)"></ui-buttonSave>
    </form>

</div>


