<div class="apiParent">

    <div class="paddingLeft160 panelLeft">

        <ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>

        <ui-filter [values]="filterValues" [(value)]="value"></ui-filter>

        <ui-button>+ New API Key</ui-button>

        <div id="apiKeys">
            <div class="tableHeader">
                <div class="big text">API Key</div>
                <div class="big text">Description</div>
                <div class="small text">Expiration</div>
            </div>

            <div class="data">
                <div class="dataRow" *ngFor="let api of apiKeys" (click)="apiKeysClick(api.apiKeyID)">
                <div class="big text blue">{{api.apiKeyValue}}</div>
                <div class="big text">{{api.description}}</div>
                <div class="small text">{{api.effectiveTo}}</div>
                </div>
            </div>
        </div>

    </div>

    <div class="panelRight">
        <div class="defaultPlaceholder">Select an API key to view details</div>

        <ui-buttonSave></ui-buttonSave>
    </div>
</div>