<div class="lightsRow dataRow" *ngFor="let item of items" (click)="selected.emit(item)">
   
    <div class="listControls">
        <input type="checkbox"/>
        <div class="greenCircle"></div>
    </div>
   
   <div class="listInfo60px">
        <div class="blue30">{{item.displayName}}</div>
        <div class="gray">{{'Interior: ' + item.interiorWidth + ' x ' + item.interiorLength + 
                            ', Exterior: ' + item.exteriorWidth + ' x ' + item.exteriorLength}}</div>
        <!--<div class="gray">{{item.exteriorWidth + ' x ' + item.exteriorLength}}</div>-->
        <!--<div class="mdl-card__menu">
            <button (click)="deleted.emit(item); $event.stopPropagation();"
                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">close</i>
            </button>
        </div>-->
    </div>
</div>