@import "../../../css/colors.less";

.buttonAdd {
    background-color: @mainblue;
    color: @white !important;
    height: 40px;
    width: 40px;
    float: right;
    border: none;
    font-size: 2em;
}