<div class="mobileConfigParent">

    <div class="paddingLeft160 panelLeft">

        <div class="header">{{headerTitle}}</div>

        <ui-filter [values]="filterValues" [(value)]="value"></ui-filter>

        <ui-button>+ New Mobile Config</ui-button>

        <div id="mobileConfigs">
            <div class="tableHeader">
                <div class="small text">SDK Version</div>
                <div class="big text">Configuration String</div>
                <div class="small text">Last Updated</div>
            </div>

            <div class="data">
                <div class="dataRow" *ngFor="let mc of mobileConfigs" (click)="mobileConfigClick(mc.mobileConfigID)">
                <div class="small text blue">{{mc.lumicastSDKVersion}}</div>
                <div class="big text">{{mc.mobileConfigString}}</div>
                <div class="small text">{{mc.lastUpdatedBy}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panelRight">
        <div class="defaultPlaceholder">Select a mobile config to view details</div>
    </div>
</div>