<div class="appParent">

    <md-toolbar class="mainToolbar">
        <div class="acuityButton">
            <img id="acuity" src="../assets/acuitya.svg" alt="Acuity Brands">
            dministration
            <md-icon class="downArrow">keyboard_arrow_down</md-icon>
        </div>
    
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!--<span>Something on the right</span>-->
        <div class="userButton">
            <md-icon>person</md-icon>
            {{user}}
            <md-icon class="downArrow">keyboard_arrow_down</md-icon>
        </div>
    </md-toolbar>

    <ul class="sideDrawer">

        <div class="sideDrawerText">MAIN</div>

        <li id="dashboard" md-list-item [routerLink]="['/']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('dashboard')">
            <a><md-icon class="navIcon">keyboard</md-icon>Dashboard</a>      
        </li>
        <li id="sites" md-list-item [routerLink]="['/sites']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('sites')">
            <a><md-icon class="navIcon">location_city</md-icon>Sites</a>
        </li>
        <li id="lights" md-list-item [routerLink]="['/lights']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('lights')">
            <a>
            <md-icon class="navIcon">lightbulb_outline</md-icon>Lights</a>
        </li>
        <li id="users" md-list-item [routerLink]="['/users']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('users')">
            <a><md-icon class="navIcon">wc</md-icon>Users</a>
        </li>

        <!--hidden for now-->
        <!--<li id="settings" md-list-item [routerLink]="['/settings']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('settings')">
            <a><md-icon class="navIcon">settings</md-icon>Settings</a>
        </li>-->

        <div class="blueBorder"></div>

        <div class="sideDrawerText">OTHER</div>

        <li id="feedback" md-list-item [ngClass]="setClasses('feedback')">
            <a><md-icon class="navIcon">feedback</md-icon>Feedback</a>
        </li>
    </ul>

    <div class="routerContent">
        <router-outlet></router-outlet>
    </div>
</div>





