<md-toolbar class="mainToolbar">
    <div class="acuityButton">
        <img id="acuity" src="../assets/acuitya.svg" alt="Acuity Brands">
        dministration
        <i class="fa fa-angle-down"></i>
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!--<span>Something on the right</span>-->
    <div class="userButton">

        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-user fa-stack-1x"></i>
        </span>

        {{user}}
        <i class="fa fa-angle-down"></i>
    </div>
</md-toolbar>

<nav class="sideDrawer">

    <div class="sideDrawerText">MAIN</div>
    <ul>
        <li id="dashboard" md-list-item [routerLink]="['/']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('dashboard')">
            <div class="iconHolder">
                <i class="fa fa-keyboard-o fa-lg"></i>
            <div class="iconText">Dashboard</div></div>      
        </li>
        <li id="sites" md-list-item [routerLink]="['/sites']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('sites')">
            <div class="iconHolder">
                <i class="fa fa-building-o fa-lg"></i>
            <div class="iconText">Sites</div></div>
        </li>
        <li id="lights" md-list-item [routerLink]="['/lights']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('lights')">
            <div class="iconHolder">
                <i class="fa fa-lightbulb-o fa-lg"></i>
            <div class="iconText">Lights</div></div>
        </li>
        <li id="users" md-list-item [routerLink]="['/users']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('users')">
            <div class="iconHolder">
                <i class="fa fa-user fa-lg"></i>
            <div class="iconText">Users</div></div>
        </li>
    </ul>

    <!--hidden for now-->
    <!--<li id="settings" md-list-item [routerLink]="['/settings']" (click)="setSelectedAnchor($event)" [ngClass]="setClasses('settings')">
    </li>-->

    <div class="blueBorder"></div>

    <div class="sideDrawerText">OTHER</div>
    <ul>
        <li id="feedback" md-list-item [ngClass]="setClasses('feedback')">
            <div class="iconHolder">
                <i class="fa fa-comment fa-lg"></i>
            <div class="iconText">Feedback</div></div>
        </li>
    </ul>
</nav>

<div class="routerContent">
    <router-outlet></router-outlet>
</div>




