<div class="codebookParent">

    <div class="paddingLeft160 panelLeft">

        <ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>

        <ui-filter [values]="filterValues" [(value)]="value"></ui-filter>

        <ui-button>+ New Codebook</ui-button>

        <div id="codebooks">
            <div class="tableHeader">
                <div class="small text">Group Name</div>
                <div class="big text"># of Sites</div>
            </div>

            <div class="data">
                <div class="dataRow" *ngFor="let code of codebooks" (click)="codebookClick(code.codeBookId)">
                    <div class="small blue">{{code.codeBookName}}</div>
                    <div class="big">{{code.codeWords}}</div>
                </div>
            </div>
        </div>

    </div>

    <div class="panelRight">
        <div class="defaultPlaceholder">Select a codebook to view details</div>


        <ui-buttonSave></ui-buttonSave>
    </div>
</div>