//these are the less mixins for our theme colors
@accent: #FD6769;
@graytext: #a6a6a6;
@lightgray: #eeeeee;
@reallylightgray: #f9f9f9;
@darkgray: #a39e9e;
@maingray: #434343;
@white: #ffffff;
@black: #000000;
@blue: #009FEC;
