//these are the less mixins for our theme colors
@graytext: #a6a6a6;
@lightgray: #eeeeee;
@reallylightgray: #f9f9f9;
@wetstone: #808080;
@asphalt: #4d4e4e;
@white: #ffffff;
@black: #000000;
@brightblue: #0a99d6;
@stormyblue: #495965;
@stormcloud: #95a6b3;
@moonlitsky: #343f48;
@treefroggreen: #63bc47;
@rosyred: #f25f54;


