@import (inline) "normalize.css";
@import "colors.less";

//reset stuff
* {
  margin: 0;
  padding: 0;
}

//global classes
.header {
  color: @mattegray;
}

.tableHeader {
  background-color: @lightgray;
  border: 1px solid @wetstone;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-wrap: nowrap;

    .text {
      font-weight: 700;
      font-size: 1em;
      color: @mattegray;
      text-align: center;
    }
}

.big, .small {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.gray {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blue {
  color: @brightblue;
}

.dataRow {
  background-color: @white;
  border: 1px solid @lightgray;
  display: flex;
  flex-wrap: nowrap;
}

.dataRow:hover {
  background-color: @lightgray;
}

.paddingLeft160 { //it's really 160 + 15px padding all around
  padding: 15px 15px 15px 175px;
}

.inline {
  display: inline-block;
}

.defaultPlaceholder {
  text-align: center;
  margin-top: 30px;
}

//global elements
h1 {
  color: @stormyblue; 
  font-size: 250%;
}
h2, h3 { 
  color: @stormcloud;
  font-weight: lighter;
}
body { 
  margin: 0;
  font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
body, input[text], button { 
  color: #888; 
}

ui-buttonSave {
  position: fixed;
  bottom: 20px;
  right: 20px;
}