@accent: #FD6769;
@graytext: #a6a6a6;
@lightgray: #eeeeee;
@darkgray: #a39e9e;
@white: #ffffff;

//reset stuff
* {
  margin: 0;
  padding: 0;
}

//global classes
.header {
  color: @graytext;
}

.tableHeader {
  background-color: @lightgray;
  border: 1px solid @darkgray;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-wrap: nowrap;

    .text {
      font-weight: 700;
      font-size: 1em;
      color: @graytext;
      text-align: center;
    }
}

.dataRow {
  background-color: @white;
  border: 1px solid @lightgray;
  display: flex;
  flex-wrap: nowrap;
}

.paddingLeft160 {
  padding-left: 160px;
}

.inline {
  display: inline-block;
}

.defaultPlaceholder {
  text-align: center;
  margin-top: 30px;
}

//global elements
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: @accent;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}