<div class="sitesGroupsParent">

    <div class="panelLeft">
        <ui-breadcrumb [navHeader]="navHeader"></ui-breadcrumb>

        <ui-filter [values]="filterValues" [(value)]="value"></ui-filter>

        <ui-button>+ New Site Group</ui-button>

        <div id="sitesGroups">
            <div class="tableHeader">
                <div class="big text">Group Name</div>
                <div class="small text"># of Sites</div>
            </div>

            <div class="data">
                <div class="dataRow" *ngFor="let group of siteGroups" (click)="sitesGroupsClick(group.siteGroupID)">
                    <div class="big blue">{{group.siteGroupName}}</div>
                    <div class="small">10</div>
                </div>
            </div>
        </div>

    </div>

    <div class="panelRight">
        <div class="defaultPlaceholder">Select a site group to view details</div> 
    </div>

</div>


