//Make sure all new styling is within the namespace for the current view!

@import '../../css/colors.less';

/* CLASSES */
.sitesGroupsParent {

    #sitesGroups {

        width: 100%;
        line-height: 30px;

        .big {
            flex-shrink: 3;
            width: 60%;
        }

        .small {
            flex-shrink: 1;
            width: 40%;
            padding: 0 5px;
        }
    }
}


